include _partials/dochead
body
  include _partials/header
  
  .main
   .section
    .content
      h1.title.inline Разделы
      nav
        each item in nav
          a.menu-link(href=item.path)= item.title



  include _partials/footer