.header-top
  a(href="/")
    .logo.inline.hdpi
  .description.inline
    p.name TeachBase
    p техническая поддержка
  .contacts.inline
    p.mail
      i.fa.fa-envelope
      | help@teachbase.ru
    p.phone
      | +7 (495) 660-38-43