mixin checker_item(title,index,type,deps)
  .item.pi(data-component="checker", data-option-type="#{type}", data-option-deps="#{deps}")
    .heading
      span.index #{index}.
      =title
      .status
        i.fa.fa-check-circle.green.passed
        i.fa.fa-times-circle.red.failed
        i.fa.fa-exclamation-circle.orange.warning
        i.fa.fa-clock-o.grey.loading
    .desc

include ../_partials/dochead
body
  include ../_partials/header
  .main.checker-page
   .section
    .content
      .header.inline
        h1.title.inline Проверка требований к системе
        p
          | Данная проверка уже неактуальна.
        p
          | Для корректной работы платформы необходим современный браузер и установленный Adobe Flash Player &nbsp;
          a(href="https://helpx.adobe.com/ru/flash-player.html") по инструкции

  include ../_partials/footer